
.section_header{
  margin-bottom: 40px;
}

.section__contacts{
  background-image: url(../images/Layer-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section__white{
  color: #FFF;
}

.section{
  padding: 80px 0;
}

.section__footer{
  background-color: var(--dark-grey);
}

.section__light-blue{
  background-color: var(--light-blue);
}