
h2{
    display: flex;
    align-items: center;
}

h2:before{
    content: "";
    height: 2px;
    width: 35px;
    background-color: currentColor;
    margin-right: 20px;
}

h5{
    font-size: 28px;
    margin-bottom: 30px;
}






